DATABASE_URL="mysql://USUARIO:SENHA@localhost:3306/NOME_BANCO"
PORT=3333
NODE_ENV=development
CORS_ORIGIN="*"
AUTH_SECRET="sua-chave-secreta-jwt-aqui"
BINANCE_API_URL="https://api.binance.com/api/v3"
